@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cookie&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#navi {
    display: block;
    display: flex;
    align-items: center;
    /* margin: 0 auto; */
}

nav ul .nav-item  {
    position: relative;
}

nav ul .nav-item::after {
    content: '';
    position: absolute;
    background-color: #ce1212;
    width: 0%;
    float: left;
    height: 3px;
    transition:  width 200ms ease;
}

nav ul .nav-item.active::after {
    width: 100%;
}

nav ul .nav-item:hover::after {
    width: 100%;
}

#about_card_bg {
    background-color: #ce1212;
}

#icons {
    background-color: #fcf3f3;
    padding: 15px 25px;
    border-radius: 100px;
    transition: background-color 300ms ease;
}

#icons i {
    color: #ce1212;
    transition: color 300ms ease;
}

.menu_font_modif1 {
    font-size: 2em;
}

.menu_titre {
    color: #ce1212;
}

.price_menu {
    border-bottom: #ce1212 2px solid;
    width: 25%;
}

.about_card_bg_mini {
    cursor: pointer;
}

.book_bg {
    background-color: #f8f8f8;
}

.card_bg1 {
    background-image: url('../images/section5/div1/image.png');
}

.card_bg2 {
    background-image: url('../images/section5/div2/image.png');
}

.card_bg3 {
    background-image: url('../images/section5/div3/image.png');
}

.card_bg4 {
    background-image: url('../images/section5/div4/image.png');
}

.card_bg5 {
    background-image: url('../images/section5/div5/image.png');
}

.tracer_red,
.list_menu:hover .tracer_red2,
.list_menu:hover .tracer_red3,
.list_menu:hover .tracer_red4 {
    display: block;
    width: 100%;
    background-color: #ce1212;
    height: 2px;
}

.tracer_red2,
.tracer_red3,
.tracer_red4 {
    display: block;
    transition: background-color 200ms ease;
    width: 100%;
    background-color: rgba(160, 155, 155, 0.5);
    height: 3px;
}

.chef_card {
    cursor: pointer;
    transition: box-shadow 200ms ease;
}

.chef_card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.chef_card :hover~.social,
.chef_card_body:hover~.social {
    right: 0;
    opacity: 1;
}

.chef_card .social {
    display: flex;
    flex-direction: column;
    background-color: #ffffff97;
    gap: 3px;
    position: absolute;
    right: -20%;
    opacity: 0;
    transition: all 200ms ease;
}

.chef_card .social a {
    color: rgba(0, 0, 0, 0.6);
    transition: color 200ms ease;
}

#chefs {
    overflow: hidden;
}

.chef_card .social a:hover {
    color: rgba(0, 0, 0, 1);
}

.foot_social {
    color: rgba(255, 255, 255, 0.5);
    transition: color 200ms ease;
}

.foot_social:hover {
    color: #ce1212;
}

.chef_card img {
    height: 19rem;
    position: relative;
    object-fit: cover;
}

#deep {
    position: relative;
}

#deep:hover~#deep_menu {
    display: flex;
}

#deep_menu {
    position: absolute;
    /* display: flex; */
    flex-direction: column;
    background-color: #fff;
    left: -147px;
    top: 31px;
    padding: 11px 9px;
    display: none;
}

.card_bg1,
.card_bg2,
.card_bg3,
.card_bg4,
.card_bg5 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* height: 25rem; */
}

.rad_menu {
    border-radius: 100%;
}

#body_card,
#body_card2,
#body_card3,
#body_card4,
#body_card5 {
    padding: 235px 15px 45px;
}

.menu_left_bor {
    border-left: 3px solid #ce1212;
}

.contact_icon {
    background-color: #ce1212;
    color: white;
}

.menu_titre_carrousel {
    font-size: 2em;
}

.personne_menu {
    width: 75%;
    border-radius: 100px;
}

.about_card_bg_mini:hover #icons {
    background-color: #ce1212;
}

.about_card_bg_mini:hover #icons i {
    color: #fff;
}

.color_about {
    color: #fff;
    box-shadow: 0 2px 4px #000;
}

#header_bg,
.about_card_bg_mini,
.color__menu {
    background-color: #fff;
}

#home,
#about_row2,
.menu_row,
#gallery {
    background-color: #f2f2f2;
}

#home {
    margin: 85px 0;
}

#titre_nav {
    font-family: "Mona Sans", serif;
    font-weight: 700;
    font-style: normal;
}

.home_text {
    font-family: "Mona Sans", serif;
    font-weight: 400;
    font-style: normal;
}

.box {
    border: 7px solid #ce1212;
    transform: scale(1.5, 1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.home_title,
.menu_h3 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 525;
    font-style: normal;
    font-size: 4em;
}

.about_title {
    font-family: "Amatic SC", sans-serif;
    font-weight: bold;
    /* font-style: normal; */
    /* font-size: 5em; */
}

.image_bg {
    background-image: url('../images/section2/bas/image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 175px 0;
}

@media screen and (max-width: 768px) {
    #navi {
        align-items: start;
        /* margin: 0 11px; */
    }

    #btnbook {
        font-size: 0.7em;
    }

    .home_title {
        width: 75%;
        font-size: 3em;
    }

    .chef_card img {
        height: 15rem;
        object-fit: cover;
    }

    #deep {
        position: initial;
    }

    #deep:hover~#deep_menu {
        display: flex;
    }

    #deep_menu {
        position: initial;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        padding: 11px 9px;
        display: none;
    }
}